  .bg {
    /* The image used */
    background-image: url("bg.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .scroll{
    overflow-x: auto!important;
    overflow-y: hidden!important;
  }
  .scroll::-webkit-scrollbar {   
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 10px;
  }
  
  .scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.35);
    
  }
  .scroll::-webkit-scrollbar-thumb{
  border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.currentWeatherBox{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.currentWeatherBox > div{
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

@media screen and (max-width: 992px) {
  .headingsearch {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .header {
    width:100%
  }
}
@media screen and (max-width: 830px) {
  .currentWeather {
    margin-top: 20px;
    width: 720px!important;
  }
}

@media screen and (max-width: 770px) {
  .currentWeather {
    width: 650px!important;
  }
  .CurrentWeatherContainer{
    flex-direction: column;
    height:60px;
    justify-content: space-between;
    margin:10px
  }
}
@media screen and (max-width: 700px) {
  .currentWeather {
    width: 560px!important;
  }
 
}
@media screen and (max-width: 600px) {
  .currentWeather {
    width: 460px!important;
  }
 .weatherHeader{
   margin-left:0!important;
 }
}
@media screen and (max-width: 500px) {
  .currentWeather {
    width: 450px!important;
    padding:20px!important;
  }
 
}
@media screen and (max-width: 600px) {
  .inputsearch {
    width: 400px!important;
  }
}
@media screen and (max-width: 480px) {
  .inputsearch {
    width: 300px!important;
  }
  .currentWeather {
    width: 430px!important;
    /* padding:20px!important; */
  }
}
@media screen and (max-width: 450px) {
  .currentWeather {
    width: 410px!important;
    /* padding:20px!important; */
  }
}
@media screen and (max-width: 400px) {
  .hourlycontainer {
        padding-left: 30px!important;
        padding-right: 30px!important;
  }
}
@media screen and (max-width: 420px) {
  .currentWeather {
    width: 360px!important;
    padding:10px!important;
  }
}

